# Project description

Credit has played a key role in the economy for centuries and some form of credit has existed since the beginning of commerce. We'll be working with financial lending data from [Lending Club](https://www.lendingclub.com/). Lending Club is a marketplace for personal loans that matches borrowers who are seeking a loan with investors looking to lend money and make a return. You can read more about their marketplace [here](https://www.lendingclub.com/company/about-us?).

Each borrower completes a comprehensive application, providing their past financial history, the reason for the loan, and more. Lending Club evaluates each borrower's credit score using past historical data and their own data science process to assign an interest rate to the borrower. The interest rate is the percent in addition to the requested loan amount the borrower has to pay back. You can read more about the interest rate that Lending Club assigns [here](https://www.lendingclub.com/loans/personal-loans/rates-fees). Lending Club also tries to verify all the information the borrower provides but it can't verify all of the information (usually for regulation reasons).

A higher interest rate means that the borrower is a risk and more unlikely to pay back the loan. While a lower interest rate means that the borrower has a good credit history and is more likely to pay back the loan. The interest rates range from 5.32% all the way to 30.99% and each borrower is given a [grade](https://www.lendingclub.com/investing/investor-education/interest-rates-and-fees) according to the interest rate they were assigned. If the borrower accepts the interest rate, then the loan is listed on the Lending Club marketplace.

Investors are primarily interested in receiving a return on their investments. Approved loans are listed on the Lending Club website, where qualified investors can browse recently approved loans, the borrower's credit score, the purpose for the loan, and other information from the application. Once they're ready to back a loan, they select the amount of money they want to fund. Once a loan's requested amount is fully funded, the borrower receives the money they requested minus the [origination](https://help.lendingclub.com/hc/en-us/articles/214463677) fee that Lending Club charges.

The borrower will make monthly payments back to Lending Club either over 36 months or over 60 months. Lending Club redistributes these payments to the investors. This means that investors don't have to wait until the full amount is paid off before they see a return in money. If a loan is fully paid off on time, the investors make a return which corresponds to the interest rate the borrower had to pay in addition to the requested amount. Many loans aren't completely paid off on time and some borrowers default on the loan.

While Lending Club has to be extremely savvy and rigorous with their credit modelling, investors on Lending Club need to be equally as savvy about determining which loans are more likely to be paid off. At first, you may wonder why investors put money into anything but low interest loans. The incentive investors have to back higher interest loans is, well, the higher interest! If investors believe the borrower can pay back the loan, even if he or she has a weak financial history, then investors can make more money through the larger additional amount the borrower has to pay.

Most investors use a portfolio strategy to invest small amounts in many loans, with healthy mixes of low, medium, and interest loans. In this project, we'll focus on the mindset of a conservative investor who only wants to invest in the loans that have a good chance of being paid off on time. To do that, we'll need to first understand the features in the dataset and then experiment with building machine learning models that reliably predict if a loan will be paid off or not.


Lending Club releases data for all of the approved and declined loan applications periodically on their [Website](https://www.lendingclub.com/investing/peer-to-peer).

In this project, we'll focus on approved loans data from 2007 to 2011, since a good number of the loans have already finished. You'll find the dataset in 'data/loans_2007.csv'.

You'll also find a [data dictionary](data/LCDataDictionary.xlsx) (in XLS format) which contains information on the different column names.

# Problem Statement

We would like to build a machine learning model that can accurately predict if a borrower will pay off their loan on time or not.

# Instructions

1. Read and explore the dataset.
2. Perform data cleaning tasks that are useful to model our problem.
3. Define what features we want to use and which column represents the target column we want to predict. 
4. Perform necessary data preparation to start training machine learning models.
5. 
    a. Make predictions about whether or not a loan will be paid off on time.

    b. Our objective is to fund enough loans that are paid off on time to offset our losses from loans that aren't paid
    off. An error metric will help us determine if our algorithm will make us money or lose us money. Select an error metric that will help us figure out when our model is performing well, and when it's performing poorly.
7. Evaluate your model.

## Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics

In [2]:
creditDataset=pd.read_csv("./data/loans_2007.csv")
creditDataset.head()

C:\Users\kmall\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

From the data insight, I had seen that some data were missing and here I have tried to find the usual size of the dataset and the number of nan values for each column to know what to do with these nan values

In [3]:
print("dataset shape:",(creditDataset).shape)
creditDataset.isna().sum()

dataset shape: (42538, 52)

id                               0
member_id                        3
loan_amnt                        3
funded_amnt                      3
funded_amnt_inv                  3
term                             3
int_rate                         3
installment                      3
grade                            3
sub_grade                        3
emp_title                     2629
emp_length                    1115
home_ownership                   3
annual_inc                       7
verification_status              3
issue_d                          3
loan_status                      3
pymnt_plan                       3
purpose                          3
title                           16
zip_code                         3
addr_state                       3
dti                              3
delinq_2yrs                     32
earliest_cr_line                32
inq_last_6mths                  32
open_acc                        32
pub_rec                         32
revol_bal                        3
revol_util                      93
total_acc                       32
initial_list_status              3
out_prncp                        3
out_prncp_inv                    3
total_pymnt                      3
total_pymnt_inv                  3
total_rec_prncp                  3
total_rec_int                    3
total_rec_late_fee               3
recoveries                       3
collection_recovery_fee          3
last_pymnt_d                    86
last_pymnt_amnt                  3
last_credit_pull_d               7
collections_12_mths_ex_med     148
policy_code                      3
application_type                 3
acc_now_delinq                  32
chargeoff_within_12_mths       148
delinq_amnt                     32
pub_rec_bankruptcies          1368
tax_liens                      108
dtype: int64

In the analysis above we can see that few data are missing in most of the columns and those in which there are a bit more, they are not much to affect significantly the study if removed. so I decided to drop all of the null values

In [4]:
creditDataset.dropna(how='any',axis=0,inplace=True)
print("new dataset shape:",(creditDataset).shape)

new dataset shape: (38433, 52)

Now comes the time to see the data columns and there type of data in our dataset

In [5]:
creditDataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38433 entries, 1 to 42386
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38433 non-null  object
 1   member_id                   38433 non-null  float64
 2   loan_amnt                   38433 non-null  float64
 3   funded_amnt                 38433 non-null  float64
 4   funded_amnt_inv             38433 non-null  float64
 5   term                        38433 non-null  object
 6   int_rate                    38433 non-null  object
 7   installment                 38433 non-null  float64
 8   grade                       38433 non-null  object
 9   sub_grade                   38433 non-null  object
 10  emp_title                   38433 non-null  object
 11  emp_length                  38433 non-null  object
 12  home_ownership              38433 non-null  object
 13  annual_inc                  38433 non-null  float64
 14  verification_status         38433 non-null  object
 15  issue_d                     38433 non-null  object
 16  loan_status                 38433 non-null  object
 17  pymnt_plan                  38433 non-null  object
 18  purpose                     38433 non-null  object
 19  title                       38433 non-null  object
 20  zip_code                    38433 non-null  object
 21  addr_state                  38433 non-null  object
 22  dti                         38433 non-null  float64
 23  delinq_2yrs                 38433 non-null  float64
 24  earliest_cr_line            38433 non-null  object
 25  inq_last_6mths              38433 non-null  float64
 26  open_acc                    38433 non-null  float64
 27  pub_rec                     38433 non-null  float64
 28  revol_bal                   38433 non-null  float64
 29  revol_util                  38433 non-null  object
 30  total_acc                   38433 non-null  float64
 31  initial_list_status         38433 non-null  object
 32  out_prncp                   38433 non-null  float64
 33  out_prncp_inv               38433 non-null  float64
 34  total_pymnt                 38433 non-null  float64
 35  total_pymnt_inv             38433 non-null  float64
 36  total_rec_prncp             38433 non-null  float64
 37  total_rec_int               38433 non-null  float64
 38  total_rec_late_fee          38433 non-null  float64
 39  recoveries                  38433 non-null  float64
 40  collection_recovery_fee     38433 non-null  float64
 41  last_pymnt_d                38433 non-null  object
 42  last_pymnt_amnt             38433 non-null  float64
 43  last_credit_pull_d          38433 non-null  object
 44  collections_12_mths_ex_med  38433 non-null  float64
 45  policy_code                 38433 non-null  float64
 46  application_type            38433 non-null  object
 47  acc_now_delinq              38433 non-null  float64
 48  chargeoff_within_12_mths    38433 non-null  float64
 49  delinq_amnt                 38433 non-null  float64
 50  pub_rec_bankruptcies        38433 non-null  float64
 51  tax_liens                   38433 non-null  float64
dtypes: float64(30), object(22)
memory usage: 15.5+ MB

From the above list, we can see that strings, floats and integers are involved in So I will strat to analayse each of the column available

In [6]:
print ("unique id:",len(creditDataset['member_id'].unique()))
print("unique member id:",len(creditDataset['id'].unique()))
print("unique employ_title:",len(creditDataset['emp_title'].unique()))

unique id: 38433
unique member id: 38433
unique employ_title: 29587

## Features to drop

After making an observation of the dataset and the meaning of the columns I have decided to drop some of the columns due to different reasons:
    1. application type as all of them have the same type which is individual. 
    2. id and member id columns as each row has its own id and member id  and thus can not help in the prediction.
    3. last credit pulling date,issue_date and earliest_cr_line because they are dates and these will vary as years come and thus may lead to overfitting
    4.Employment title and title of the loan as these names are very various with respect to person who is requesting the loan so for the prediction a person may bring another title which is new to the model.

In [7]:
features_to_drop=['id','member_id','application_type','issue_d','last_credit_pull_d','last_pymnt_d','earliest_cr_line','title','emp_title']
creditDataset=creditDataset.drop(features_to_drop,axis=1)

## Dealing with numerical features

In [8]:
description=creditDataset.describe()
description

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
count,38433.000000,38433.000000,38433.000000,38433.000000,3.843300e+04,38433.000000,38433.000000,38433.000000,38433.000000,38433.000000,...,38433.000000,38433.000000,38433.000000,38433.0,38433.0,38433.0,38433.0,38433.0,38433.000000,38433.0
mean,11212.482112,10939.748393,10450.550024,324.711286,6.953507e+04,13.507810,0.149793,1.036765,9.405225,0.056670,...,96.656156,12.876397,2698.242113,0.0,1.0,0.0,0.0,0.0,0.043374,0.0
std,7397.281223,7133.601314,7062.157477,207.358219,6.353193e+04,6.665663,0.503078,1.383006,4.434018,0.241669,...,696.422728,148.646872,4431.244630,0.0,0.0,0.0,0.0,0.0,0.204720,0.0
min,500.000000,500.000000,0.000000,15.670000,3.300000e+03,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.010000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
25%,5500.000000,5450.000000,5000.000000,168.090000,4.200000e+04,8.400000,0.000000,0.000000,6.000000,0.000000,...,0.000000,0.000000,221.200000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
50%,10000.000000,9700.000000,9000.000000,280.970000,6.000000e+04,13.610000,0.000000,1.000000,9.000000,0.000000,...,0.000000,0.000000,558.080000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
75%,15000.000000,15000.000000,14400.000000,430.620000,8.300000e+04,18.770000,0.000000,2.000000,12.000000,0.000000,...,0.000000,0.000000,3369.610000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
max,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,17.000000,46.000000,4.000000,...,29623.350000,7002.190000,36115.200000,0.0,1.0,0.0,0.0,0.0,2.000000,0.0

From the description above I have decided to drop all features which has the same value for the 25,50 and 75 percentiles as they are almost one value and can't give us much information.

In [9]:
# toDropFeatures=['tax_liens','pub_rec_bankruptcies','delinq_amnt','chargeoff_within_12_mths','acc_now_delinq','policy_code','collections_12_mths_ex_med','collection_recovery_fee','recoveries','delinq_2yrs']
# creditDataset.drop(toDropFeatures,axis=1,inplace=True)
for column in description.columns:
    if (description[column]['25%']==description[column]['50%'] and description[column]['25%']==description[column]['75%']):
        creditDataset.drop(column,axis=1,inplace=True)
creditDataset.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,open_acc,revol_bal,revol_util,total_acc,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_amnt
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,...,3.0,1687.0,9.4%,4.0,f,1008.710000,1008.71,456.46,435.17,119.66
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,...,10.0,5598.0,21%,37.0,f,12231.890000,12231.89,10000.00,2214.92,357.48
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,1 year,RENT,...,15.0,27783.0,53.9%,38.0,f,3581.120000,3581.12,2538.27,1042.85,67.79
5,5000.0,5000.0,5000.0,36 months,7.90%,156.46,A,A4,3 years,RENT,...,9.0,7963.0,28.3%,12.0,f,5632.210000,5632.21,5000.00,632.21,161.03
6,7000.0,7000.0,7000.0,60 months,15.96%,170.08,C,C5,8 years,RENT,...,7.0,17726.0,85.6%,11.0,f,10137.840008,10137.84,7000.00,3137.84,1313.76

## Dealing with object features

To work on this I have 3 options: some are numerical but written as string, for these just I will make them numerical. 
others have numbers but surrounded by strings, for these I strip the string part and remain with numbers then change them to numerical.
others are words which can be categorized. I categorized them.
others, almost each of the data has its own category or most of them are from one category, so I drop them.

In [10]:
#features to change to categorical

CategorizedFeatures=['term','grade','sub_grade','home_ownership','verification_status','pymnt_plan','purpose','addr_state','initial_list_status','emp_length']
for col in CategorizedFeatures:
    creditDataset[col]=creditDataset[col].astype('category')
    creditDataset[col]=creditDataset[col].cat.codes
creditDataset.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,open_acc,revol_bal,revol_util,total_acc,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_amnt
1,2500.0,2500.0,2500.0,1,15.27%,59.83,2,13,10,3,...,3.0,1687.0,9.4%,4.0,0,1008.710000,1008.71,456.46,435.17,119.66
3,10000.0,10000.0,10000.0,0,13.49%,339.31,2,10,1,3,...,10.0,5598.0,21%,37.0,0,12231.890000,12231.89,10000.00,2214.92,357.48
4,3000.0,3000.0,3000.0,1,12.69%,67.79,1,9,0,3,...,15.0,27783.0,53.9%,38.0,0,3581.120000,3581.12,2538.27,1042.85,67.79
5,5000.0,5000.0,5000.0,0,7.90%,156.46,0,3,3,3,...,9.0,7963.0,28.3%,12.0,0,5632.210000,5632.21,5000.00,632.21,161.03
6,7000.0,7000.0,7000.0,1,15.96%,170.08,2,14,8,3,...,7.0,17726.0,85.6%,11.0,0,10137.840008,10137.84,7000.00,3137.84,1313.76

In [11]:
creditDataset['zip_code']=[creditDataset['zip_code'][i].strip('xx') for i in creditDataset.index ]
creditDataset['zip_code']=creditDataset['zip_code'].astype('int')

In [12]:
creditDataset['revol_util']=[creditDataset['revol_util'][i].strip('%') for i in creditDataset.index ]
creditDataset['revol_util']=creditDataset['revol_util'].astype('float')

In [13]:
creditDataset['int_rate']=[creditDataset['int_rate'][i].strip('%') for i in creditDataset.index ]
creditDataset['int_rate']=creditDataset['int_rate'].astype('float')

From the data observation I have noticed that our target could be the laon status as this shows if the loan is paid or not

In [14]:
#creditDataset.info()
creditDataset.loan_status.value_counts()

Fully Paid                                             30599
Charged Off                                             4949
Does not meet the credit policy. Status:Fully Paid      1446
Current                                                  897
Does not meet the credit policy. Status:Charged Off      495
Late (31-120 days)                                        22
In Grace Period                                           16
Late (16-30 days)                                          7
Default                                                    2
Name: loan_status, dtype: int64

from the analysis above there was different status of the loans. I have chosen to use those which already classified as fullpaid or chargedoff as they give he insight if the loan is paid or not

In [15]:
fullPaid=creditDataset.query("loan_status== 'Fully Paid' "  or "loan_status=='Does not meet the credit policy. Status:Fully Paid'")
fullPaid['loan_status']=1
chargedOff=creditDataset.query("loan_status== 'Charged Off' "  or "loan_status=='Does not meet the credit policy. Status:Charged Off'")
chargedOff['loan_status']=0

<ipython-input-15-a9269bd41600>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fullPaid['loan_status']=1
<ipython-input-15-a9269bd41600>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chargedOff['loan_status']=0

In [16]:

print ("charged off dataset length:",len(chargedOff))
print("full paid dataset length:",len(fullPaid))

charged off dataset length: 4949
full paid dataset length: 30599

To avoid the bias which may occur due to the difference in the numbers of full paid and charged off data,I have chosen to get these two dataset equal by chosing randomly the number of full paid data which is equal to the number of charged off.

In [17]:
fullPaid=fullPaid.sample(n=len(chargedOff))
data=pd.concat([fullPaid,chargedOff])
data['loan_status_TARGET']=data['loan_status']
data.drop('loan_status',axis=1)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,revol_bal,revol_util,total_acc,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_amnt,loan_status_TARGET
15908,7000.0,7000.0,7000.000000,0,5.99,212.93,0,1,6,0,...,186.0,0.8,31.0,0,7665.159323,7665.16,7000.00,665.16,216.50,1
35739,9500.0,9500.0,9450.000000,0,8.94,301.83,0,4,3,0,...,6382.0,9.4,27.0,0,10499.731025,10444.47,9500.00,999.73,5379.36,1
33122,3000.0,3000.0,2975.000000,0,12.18,99.90,1,8,7,3,...,37.0,1.1,9.0,0,3596.712434,3566.74,3000.00,596.71,107.72,1
36059,10000.0,10000.0,9295.782006,0,11.26,328.64,1,6,2,3,...,14483.0,36.5,28.0,0,12012.914549,11166.27,10000.00,1997.91,127.90,1
35626,20000.0,20000.0,16615.577099,0,14.61,689.51,3,15,7,0,...,31076.0,79.7,52.0,0,24595.281890,20030.90,19999.99,4595.29,5305.24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39320,10100.0,10100.0,6425.004533,0,13.55,343.00,3,18,10,3,...,18485.0,65.3,20.0,0,1452.190000,922.67,692.46,333.30,343.00,0
39360,15450.0,15450.0,5650.000000,0,13.93,527.52,4,20,5,0,...,12032.0,87.2,17.0,0,13741.250000,5020.07,10463.04,3225.95,35.74,0
39431,2150.0,2150.0,1574.996529,0,10.78,70.17,2,10,1,0,...,1.0,0.2,8.0,0,1517.660000,1111.19,1165.84,303.65,140.34,0
39494,4000.0,4000.0,1199.992159,0,12.36,133.55,3,15,0,3,...,9380.0,44.1,24.0,0,1084.630000,324.54,665.76,267.67,133.55,0
39692,9000.0,9000.0,700.000000,0,12.49,301.04,3,17,8,0,...,26233.0,62.9,37.0,0,4015.960000,311.64,1496.83,609.26,301.05,0

data.info()

In [18]:
To get the general relationship between features, I introduced a heatmap of correlation values

SyntaxError: invalid syntax (<ipython-input-18-70bd4121d504>, line 1)

In [ ]:
plt.figure(figsize=(20, 10))
sns.heatmap(data.corr(), vmin=-1, vmax=1,annot=True)

from the heatmap above we can see taht some of the features are highly correlated between each other having a correlation of 0.9 and above. However we can see that there are small correlations between predictors and the independent variable which means that a linear model may not be accurate for this case.

## Model making

Here I started by splitting the dataset into the training and the testing set which will be used to evaluate the model that we will make

In [ ]:
# splitting the data into the train and test split
X=data.loc[:, data.columns != 'loan_status_TARGET']
Y=data['loan_status_TARGET']
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.30)

In [ ]:
data.head()

I have chosen to use a naive bayes model because this I knew that this can predict better especially when many features are involved.

In [ ]:
# training the model on training set

bnb_model = BernoulliNB()
bnb_model.fit(x_train, y_train)
  
# making predictions on the testing set
y_pred = bnb_model.predict(x_test)

In [ ]:

print("Bernoulli Naive Bayes model accuracy is :{}%".format(metrics.accuracy_score(y_test, y_pred)*100))
print("The bernoulli Naive Bayes model mean square error is :{}".format(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
From the above study we can see that our model has an accuracy of 100% and 0 error and this seems to be strange and further analyis can be done on this